:root{
    --bg_color: rgb(240, 240, 240);
    --font_family: Roboto;
    /* --fs-100: 0.75rem; */
    --fs-1: 0.875rem;
    --fs-2: 1rem;
    /* --fs-3: 1.125rem; */
    --fs-3: 1.25rem;
    /* --fs-500: 1.5rem; */
    --color-dark-0: rgba(20, 20, 20, 1);
    --color-dark-1: rgba(20, 20, 20, 0.8);
    --color-dark-2: rgba(20, 20, 20, 0.4);
    --color-light-0: rgba(255,255,255,1);
    --color-primary: rgb(255, 213, 0);
    --color-btn-hover: var(--color-dark-1);
    --color-btn-primary-hover: rgb(216, 183, 16);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    color: var(--color-dark-0);
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_family), sans-serif;
    font-weight: normal;
    font-size: inherit;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg_color);
}

.link{
    font-weight: bold;
}

.link:hover{
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}

.btn{
  color: var(--color-dark-0);
  background-color: var(--color-primary);
  display: block;
  padding: 0.25em 1.125em;
  border: none;
  font-weight: bold;
  margin-top: 0.125em;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
  border-radius: 0.325rem;
}

.btn:hover{
    background-color: var(--color-btn-primary-hover);
    cursor: pointer;
}

/* Header styles */

.header__navbar{
    width: 60%;
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-list__element{
    margin-inline: 1em;
}

.cart-icon{
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
}

.cart-btn{
    padding: 0.825em;
    border-radius: 100%;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    border: none;
}

.cart-btn:hover{
  background-color: var(--color-btn-primary-hover);
}

.cart-link{
    font-size: var(--fs-1);
}

.header__cart-container{
  position: sticky;
  top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125em;
}

/* @media screen  {
        Napravi da navbar postane dugme sa toggle-om
} */

/* JEBAVANJE ZA STICKEY */

.header-container {
  display: flex; /* Keep the container layout consistent */
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative; /* Ensure relative positioning for the child */
  overflow: visible;
}

.header__navbar {
  flex: 1;
}

.header__cart-container {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 100;
}


.hidden{
  display: none;
}