
.wrapper--page{
    width: 85%;
    margin-inline: auto;
    font-size: var(--fs-2);
}

.product__img--page{
    width: 50%;
    height: 50vh;
    margin-inline: auto;
    margin-bottom: 0.825rem;
    background-size: 10rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.product-container--page{
    border: 1px solid rgba(0,0,0,0.6);
    padding: 1.75rem;
}

.product__header--page{
    font-size: var(--fs-3);
    font-weight: bold;
}

.product__price--page{
    font-size: var(--fs-3);
    font-weight: bold;
}

.product__description--page{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.825rem;
    font-size: var(--fs-1);
    color: var(--color-dark-1);
}

.product__description-label--page{
    font-size: var(--fs-2);
    margin-bottom: 0.125rem;
    color: var(--color-dark-0);
}

.product__rating--page{
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
}

.product__rating-label--page{
    font-weight: bold;
    display: inline-block;
}

.product__rating-data--page{
    margin-left: 0.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: var(--color-primary);
}

.product__rating-data--page::after{
    content:"";
    position: absolute;
    height: 1.125rem;
    width: 1.125rem;
    top: 1px;
    left: 1.615rem;
    background-image: url(../assets/icons/icons8-star-96.png);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: 100;
}

.product__quantity--page{
    margin-bottom: 0.5rem;
}

.product__quantity-label--page{
    display: inline-block;
    font-weight: bold;
}

.product__quantity-data--page{
    margin-left: 0.5rem;
    display: inline-block;
}

.product__time--page{
    margin-bottom: 0.5rem;
}

.product__time-label--page{
    font-weight: bold;
    display: inline-block;
}

.product__time-data--page{
    font-size: var(--fs-1);
}

.product__location--page{
    margin-bottom: 1rem;
}

.product__location-label--page{
    display: inline-block;
}

.product__location-data--page{
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5rem;
}


.product__seller-container--page{
    margin-block: 1rem;
    font-size: var(--fs-1);
}

.seller-label--page{
    display: inline-block;
    color: var(--color-dark-2);
}

.seller-name--page{
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5rem;
    color: var(--color-dark-1);
}

.seller-rating--page{
    margin-left: 0.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: var(--color-primary);
}

.seller-rating--page::after{
    content:"";
    position: absolute;
    height: 1.125em;
    width: 1.125em;
    top: 1px;
    left: 1.615rem;
    background-image: url(../assets/icons/icons8-star-96.png);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: 100;
}